<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<base >
	<title>
		Crop Recommendation demo</title>
	
	
	
{% load static %}
<!-- Bootstrap Core CSS -->
<link href="{% static 'css/login.min.1512879046.css'%}" rel='stylesheet' >
	
	</head>
<body ng-app="loginApp" class="" style="background-color:#ffffff;" ng-cloak data-origin="">

<div id="loginController" ng-controller="loginController" class="wrapper" ng-cloak>
  
  


  <div class="wrapper1">
    <div class="container" style="width:100%;padding:0;">
   	  <section class="landing-page-section-first clearfix" style="background-image: url('{% static 'images/main-cover-reduced12.jpg' %}');background-size: cover;top:75px;margin-top:-75px;">
          <div class="container text-center" style="width:1000px;">
			  <p style="font-size: 36px;line-height: 29px;margin: 2px 0 0;font-family: 'Montserrat';color: #D9E5D5;">
                 
                  Crop Recommendation to Maximize crop yield
                </p>
            <!--h3 class="hero-message">Crop Recommendation  </h3-->  
            <h1 class="hero-hashtag cd-headline letters type">
              <span class="cd-words-wrapper waiting">
                
                
              </span>
            </h1>               
            <a href="#">               
              <div class="landing-signup" onclick="window.location.href='login'">
                <div class="css-banner text-center" style="width:100%;left:auto;">Let's Start</div>
              </div>
            </a>
          </div>          
      	</section>
   	  <div style="background-color: #D3D3D3" id="scroll-top-detector">
          <div class="container" style="width:100%;height:75px;position:relative;transition:all 0.3s linear;visibility:hidden;opacity:0;">
            <a href="#" id="Logo2" class="header-final-logo" style="transition:all 0.3s linear;width:50px;left:48%;">
              
            </a>           
          </div>    
      	</div>
      	<section  style="background-color: #D3D3D3" id="lpss" class="landing-page-section-second clearfix">   
          <!-- <div id="scroll-arrow" class="page-scroll-arrow" onclick="scrollToCourse(-30);">
            <div class="arrow-moving" style="width:18px;height:18px;">
              <div class="sprite-static sprite-rsz_arrow-31-48" style="-webkit-transform:rotate(90deg);transform: rotate(90deg);"></div>
            </div>  
          </div>  -->
          
          <div class="container" style="width:1000px;">
            <div class="pull-left col-md-12 col-sm-12 col-xs-12 description text-center" style="margin:35px 0 40px;color:#333;">
                <p style="font-size: 23px;line-height: 29px;margin: 15px 0 0;font-family: 'Montserrat';">
                  
                  Crop Recommendation to Maximize crop yield
                  <br>
                  <br>
                </p>
                <p style="font-size:19px;color: #000; text-align: justify;">
                  
                  Agriculture in India plays a predominant role in economy and employment.
The common problem  among the Indian farmers are they don’t choose the right crop based on their soil requirements. Due to this they face a serious problems in productivity.
This problem of the farmers has been addressed through our recommendation system.

                </p>
            </div>
</div>
<div class="algo-wrapper" style="background-color: inherit; height: 180vh; padding-top: 40px; width: 1000px; margin-left: 250px;border: solid 1px black; box-shadow:   8px 10px 90px #888888; "  >

		 <div class="col-md-6 col-sm-12 col-xs-12" onclick="window.location.href='svm'" style="margin: 0 0 40px 30px; cursor: pointer; width: 400px;">
                    <div class="ts--card card-bs">
                      <img src="{% static 'images/slider7.jpg' %}" alt="" style='height: 100%; width: 100%; object-fit: contain;'>
                      <h3 class="ts--title">SVM</h3>
						
                      <!-- <div class="ts--graphics sprite-static sprite-rsz_jee" style="background-color:#FFC107;"></div> -->
                      <div class="ts--info">
                
                        <p class="ts--subtitle">Run Algorithm</p>
                      </div>
                      <div class="ts--cta" onclick="window.location.href='svm'" style="background-color: #FFC107;">Run</div>
                    </div>
                  </div>
				  
				  <div class="col-md-6 col-sm-12 col-xs-12" onclick="window.location.href='naivebayes'" style="margin: 0 0 40px 140px; cursor: pointer; width: 400px;">
                    <div class="ts--card card-bs">
                      <img src="{% static 'images/slider6.jpg' %}" alt="" style='height: 100%; width: 100%; object-fit: contain'>
                      <h3 class="ts--title">Naive Bayes</h3>
						
                      <!-- <div class="ts--graphics sprite-static sprite-rsz_jee" style="background-color:#FFC107;"></div> -->
                      <div class="ts--info">
							
                        <p class="ts--subtitle">Run Algorithm</p>
                      </div>
                      <div class="ts--cta" onclick="window.location.href='naivebayes'" style="background-color: #FFC107;">Run</div>
                    </div>
                  </div>
				  
				  <div class="col-md-6 col-sm-12 col-xs-12" onclick="window.location.href='randomforest'" style="margin: 0 0 40px 30px; cursor: pointer; width: 400px;">
                    <div class="ts--card card-bs">
                      <img src="{% static 'images/slider5.jpg' %}" alt="" style='height: 100%; width: 100%; object-fit: contain'>
                      <h3 class="ts--title">Random Forest</h3>
						
                      <!-- <div class="ts--graphics sprite-static sprite-rsz_jee" style="background-color:#FFC107;"></div> -->
                      <div class="ts--info">
                
                        <p class="ts--subtitle">Run Algorithm</p>
                      </div>
                      <div class="ts--cta" onclick="window.location.href='randomforest'" style="background-color: #FFC107;">Run</div>
                    </div>
                  </div>



          
				  
				  <div class="col-md-6 col-sm-12 col-xs-12" onclick="window.location.href='neuralnetwork'" style="margin: 0 0 40px 140px; cursor: pointer; width: 400px;">
                    <div class="ts--card card-bs">
                      <img src="{% static 'images/slider4.jpg' %}" alt="" style='height: 100%; width: 100%; object-fit: contain'>
                      <h3 class="ts--title">Neural Network</h3>
						
                      <!-- <div class="ts--graphics sprite-static sprite-rsz_jee" style="background-color:#FFC107;"></div> -->
                      <div class="ts--info">
                
                        <p class="ts--subtitle">Run Algorithm</p>
                      </div>
                      <div class="ts--cta" onclick="window.location.href='neuralnetwork'" style="background-color: #FFC107;">Run</div>
                    </div>
                  </div>



          <div class="col-md-6 col-sm-12 col-xs-12" onclick="window.location.href='ensembleTech'" style="margin-left:25% ; cursor: pointer;height: 300; width: 350;">
            
                    <div class="ts--card card-bs">
                      <img src="{% static 'images/slider3.jpg' %}" alt="" style='height: 100%; width: 100%; object-fit: contain'>
                      <h3 class="ts--title">Ensemble</h3>
            
                      <!-- <div class="ts--graphics sprite-static sprite-rsz_jee" style="background-color:#FFC107;"></div> -->
                      <div class="ts--info">
                
                        <p class="ts--subtitle">Run Algorithm</p>
                      </div>
                      <div class="ts--cta" onclick="window.location.href='ensembleTech'" style="background-color: #FFC107;">Run</div>
                    </div>
                  </div>


  </div>
<div style="background-color:#000000; height: 200px; border-style: solid;" class="foott">     

  
      
        <ul> 

          <li id="navlink" class="F"><a href="#" target="_self">Home</a></li>
			    <li id="navlink"><a href="{% url 'login' %}" target="_self">Log in</a></li>
			    <li id="navlink"><a href="{% url 'signup' %}" target="_self">Sign up </a></li>
          <li id="navlink"><a href="#" target="_self">About Us</a></li>
          <li id="navlink"><a href="#" target="_self">Contact Us</a></li>
    
        </ul>
               


</div>
      </section>

</section>
        
    </div>
  </div>



</div>

		  

<style type="text/css">

.foott{
  margin-top: 50px;
}


#navlink {
  font-size: 20px;
  margin-top : 100px;
  margin-right: 20px;
  float: left;
  padding-top: 12px;
  
}
#navlink > a {
  color: white;

}
.F{
  margin-left: 35%;
}

</style>


		
</body>

</html>